# **User-based CF**

In [1]:
import pandas as pd
import numpy as np
import scipy.stats
import seaborn as sns

from sklearn.metrics.pairwise import cosine_similarity

In [25]:
data_path = 'interaction_data.csv'
_num_recommendations=10
_viewer_threshold=5
item_id_var = 'ITEM_ID'
user_id_var = 'USER_ID'
event = 'EVENT_TYPE'
timestamp = 'TIMESTAMP'

In [28]:
#데이터 살펴보기
data= pd.read_csv(data_path)
data.head(3)

,USER_ID,ITEM_ID,EVENT_TYPE,TIMESTAMP,ITEM_NAME,CATEGORY_L1
0,1,307,3.5,2009-10-27 21:00:21,Three Colors: Blue (Trois couleurs: Bleu) (1993),Drama
1,1,481,3.5,2009-10-27 21:04:16,Kalifornia (1993),Drama|Thriller
2,1,1091,1.5,2009-10-27 21:04:31,Weekend at Bernie's (1989),Comedy

In [29]:
#interaction 데이터셋 생성
interaction_df=data[[item_id_var, user_id_var, event, timestamp]]
if data[event].dtypes != float:
    interaction_df.loc[:, event] = 1

#user 데이터셋 생성
user_df = data[[user_id_var]].drop_duplicates(user_id_var).reset_index(drop=True)

#item 데이터셋 생성
item_df = data[[item_id_var]].drop_duplicates(item_id_var).reset_index(drop=True)

In [8]:
matrix = df_GT100.pivot_table(index='userId', columns='movieId', values='rating')
matrix_norm = matrix.subtract(matrix.mean(axis=1), axis='rows')
user_similarity = matrix_norm.T.corr()
user_similarity_cosine = cosine_similarity(matrix_norm.fillna(0))

In [24]:
picked_userid = 1
picked_userid_watched = matrix_norm[matrix_norm.index == picked_userid].dropna(axis=1, how='all')
similar_users = user_similarity[picked_userid].sort_values(ascending=False)[:10]
similar_user_items = matrix_norm[matrix_norm.index.isin(similar_users.index)].dropna(axis=1, how='all')
item_score = {}
# Loop through items
for i in similar_user_items.columns:
    item_rating = similar_user_items[i] # Create a variable to store the score
    total, count = 0, 0
    for u in similar_users.index: # Loop through similar users 
        if pd.isna(item_rating[u]) == False: # If the movie has rating 
            score = similar_users[u] * item_rating[u] # Score is the sum of user similarity score multiply by the movie rating 
            total += score # Add the score to the total score for the movie so far
            count +=1 # Add 1 to the count
    item_score[i] = total / count # Get the average score for the item
item_score = pd.DataFrame(item_score.items(), columns=['movie', 'movie_score']) # Convert dictionary to pandas dataframe
ranked_item_score = item_score.sort_values(by='movie_score', ascending=False)
m = 10
ranked_item_score.head(m)

     movie  movie_score
709   4262     1.828729
632   3362     1.828729
550   2712     1.828729
164    720     1.617949
768   5444     1.617949
633   3386     1.343750
287   1268     1.317460
196    920     1.317460
194    916     1.317460
193    915     1.317460

# **Item-based CF**

In [28]:
df_GT100 = pd.merge(df, agg_ratings_GT100[['title']], on= 'title', how='inner')
matrix = df_GT100.pivot_table(index='title', columns='userId', values='rating')

In [32]:
df = matrix.fillna(0)

In [ ]:
from sklearn.neighbors import NearestNeighbors
knn = NearestNeighbors(metric='cosine', algorithm='brute')
knn.fit(df.values)
distances, indices = knn.kneighbors(df.values, n_neighbors=3)

In [33]:
from sklearn.neighbors import NearestNeighbors
knn = NearestNeighbors(metric = 'cosine', algorithm='brute')
knn.fit(df.values)
distances, indices = knn.kneighbors(df.values, n_neighbors = 3)

In [36]:
df

userId,1,2,3,4,5,6,7,8,9,10,...,9991,9992,9993,9994,9995,9996,9997,9998,9999,10000
title,,,,,,,,,,,,,,,,,,,,,
"'burbs, The (1989)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
(500) Days of Summer (2009),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
10 Cloverfield Lane (2016),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5
10 Things I Hate About You (1999),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,0.0
101 Dalmatians (1996),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.5,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zoolander (2001),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0
Zootopia (2016),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
eXistenZ (1999),0.0,0.0,0.0,3.5,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,2.5
xXx (2002),0.0,0.0,0.0,3.5,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
¡Three Amigos! (1986),4.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0